.editor-layout {
  flex: 1;
  display: flex;
}

.editor__pane {
  flex: 1;
  background-color: var(--bg-color-editor);
}

.editor__pane + .editor__pane {
  border-left: 1px solid var(--border-color-editor);
}

.editor__header {
  padding: 16px;
  background-color: var(--bg-color-tab);
  color: var(--text-color-tab);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.editor__render,
.editor__textarea {
  padding: 16px;
}

.editor__textarea {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  font-family: var(--font-code);
  background-color: var(--bg-color-editor);
  color: var(--text-color-editor);
}

.editor__textarea:focus {
  outline: none;
  border: 1px solid var(--color-orange);
}