.menu-toggle {
  background-color: var(--bg-color-nav-menu);
  border: none;
  box-shadow: none;
  padding: 20px;
  cursor: pointer;
}

.menu-toggle__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.menu-toggle__icon svg {
  fill: var(--text-color-nav);
}